# tested on pyton==3.9.0
absl-py==1.2.0
altgraph==0.17.2
attrs==22.1.0
cycler==0.11.0
fonttools==4.36.0
keyboard==0.13.5
kiwisolver==1.4.4
macholib==1.16
matplotlib==3.5.3
mediapipe==0.8.10.1
numpy==1.19.4
opencv-contrib-python==4.6.0.66
opencv-python==4.5.3.56
opencv-python-headless==4.6.0.66
packaging==21.3
Pillow==9.2.0
protobuf==3.20.1
pyinstaller==4.6
pyinstaller-hooks-contrib==2022.8
pynput==1.6.8
pyobjc==7.3; sys_platform == 'darwin'
pyobjc-core==7.3; sys_platform == 'darwin'
pyobjc-framework-Accessibility==7.3; sys_platform == 'darwin'
pyobjc-framework-Accounts==7.3; sys_platform == 'darwin'
pyobjc-framework-AddressBook==7.3; sys_platform == 'darwin'
pyobjc-framework-AdServices==7.3; sys_platform == 'darwin'
pyobjc-framework-AdSupport==7.3; sys_platform == 'darwin'
pyobjc-framework-AppleScriptKit==7.3; sys_platform == 'darwin'
pyobjc-framework-AppleScriptObjC==7.3; sys_platform == 'darwin'
pyobjc-framework-ApplicationServices==7.3; sys_platform == 'darwin'
pyobjc-framework-AppTrackingTransparency==7.3; sys_platform == 'darwin'
pyobjc-framework-AuthenticationServices==7.3; sys_platform == 'darwin'
pyobjc-framework-AutomaticAssessmentConfiguration==7.3; sys_platform == 'darwin'
pyobjc-framework-Automator==7.3; sys_platform == 'darwin'
pyobjc-framework-AVFoundation==7.3; sys_platform == 'darwin'
pyobjc-framework-AVKit==7.3; sys_platform == 'darwin'
pyobjc-framework-BusinessChat==7.3; sys_platform == 'darwin'
pyobjc-framework-CalendarStore==7.3; sys_platform == 'darwin'
pyobjc-framework-CallKit==7.3; sys_platform == 'darwin'
pyobjc-framework-CFNetwork==7.3; sys_platform == 'darwin'
pyobjc-framework-ClassKit==7.3; sys_platform == 'darwin'
pyobjc-framework-CloudKit==7.3; sys_platform == 'darwin'
pyobjc-framework-Cocoa==7.3; sys_platform == 'darwin'
pyobjc-framework-Collaboration==7.3; sys_platform == 'darwin'
pyobjc-framework-ColorSync==7.3; sys_platform == 'darwin'
pyobjc-framework-Contacts==7.3; sys_platform == 'darwin'
pyobjc-framework-ContactsUI==7.3; sys_platform == 'darwin'
pyobjc-framework-CoreAudio==7.3; sys_platform == 'darwin'
pyobjc-framework-CoreAudioKit==7.3; sys_platform == 'darwin'
pyobjc-framework-CoreBluetooth==7.3; sys_platform == 'darwin'
pyobjc-framework-CoreData==7.3; sys_platform == 'darwin'
pyobjc-framework-CoreHaptics==7.3; sys_platform == 'darwin'
pyobjc-framework-CoreLocation==7.3; sys_platform == 'darwin'
pyobjc-framework-CoreMedia==7.3; sys_platform == 'darwin'
pyobjc-framework-CoreMediaIO==7.3; sys_platform == 'darwin'
pyobjc-framework-CoreMIDI==7.3; sys_platform == 'darwin'
pyobjc-framework-CoreML==7.3; sys_platform == 'darwin'
pyobjc-framework-CoreMotion==7.3; sys_platform == 'darwin'
pyobjc-framework-CoreServices==7.3; sys_platform == 'darwin'
pyobjc-framework-CoreSpotlight==7.3; sys_platform == 'darwin'
pyobjc-framework-CoreText==7.3; sys_platform == 'darwin'
pyobjc-framework-CoreWLAN==7.3; sys_platform == 'darwin'
pyobjc-framework-CryptoTokenKit==7.3; sys_platform == 'darwin'
pyobjc-framework-DeviceCheck==7.3; sys_platform == 'darwin'
pyobjc-framework-DictionaryServices==7.3; sys_platform == 'darwin'
pyobjc-framework-DiscRecording==7.3; sys_platform == 'darwin'
pyobjc-framework-DiscRecordingUI==7.3; sys_platform == 'darwin'
pyobjc-framework-DiskArbitration==7.3; sys_platform == 'darwin'
pyobjc-framework-DVDPlayback==7.3; sys_platform == 'darwin'
pyobjc-framework-EventKit==7.3; sys_platform == 'darwin'
pyobjc-framework-ExceptionHandling==7.3; sys_platform == 'darwin'
pyobjc-framework-ExecutionPolicy==7.3; sys_platform == 'darwin'
pyobjc-framework-ExternalAccessory==7.3; sys_platform == 'darwin'
pyobjc-framework-FileProvider==7.3; sys_platform == 'darwin'
pyobjc-framework-FileProviderUI==7.3; sys_platform == 'darwin'
pyobjc-framework-FinderSync==7.3; sys_platform == 'darwin'
pyobjc-framework-FSEvents==7.3; sys_platform == 'darwin'
pyobjc-framework-GameCenter==7.3; sys_platform == 'darwin'
pyobjc-framework-GameController==7.3; sys_platform == 'darwin'
pyobjc-framework-GameKit==7.3; sys_platform == 'darwin'
pyobjc-framework-GameplayKit==7.3; sys_platform == 'darwin'
pyobjc-framework-ImageCaptureCore==7.3; sys_platform == 'darwin'
pyobjc-framework-IMServicePlugIn==7.3; sys_platform == 'darwin'
pyobjc-framework-InputMethodKit==7.3; sys_platform == 'darwin'
pyobjc-framework-InstallerPlugins==7.3; sys_platform == 'darwin'
pyobjc-framework-InstantMessage==7.3; sys_platform == 'darwin'
pyobjc-framework-Intents==7.3; sys_platform == 'darwin'
pyobjc-framework-IOSurface==7.3; sys_platform == 'darwin'
pyobjc-framework-iTunesLibrary==7.3; sys_platform == 'darwin'
pyobjc-framework-KernelManagement==7.3; sys_platform == 'darwin'
pyobjc-framework-LatentSemanticMapping==7.3; sys_platform == 'darwin'
pyobjc-framework-LaunchServices==7.3; sys_platform == 'darwin'
pyobjc-framework-libdispatch==7.3; sys_platform == 'darwin'
pyobjc-framework-LinkPresentation==7.3; sys_platform == 'darwin'
pyobjc-framework-LocalAuthentication==7.3; sys_platform == 'darwin'
pyobjc-framework-MapKit==7.3; sys_platform == 'darwin'
pyobjc-framework-MediaAccessibility==7.3; sys_platform == 'darwin'
pyobjc-framework-MediaLibrary==7.3; sys_platform == 'darwin'
pyobjc-framework-MediaPlayer==7.3; sys_platform == 'darwin'
pyobjc-framework-MediaToolbox==7.3; sys_platform == 'darwin'
pyobjc-framework-Metal==7.3; sys_platform == 'darwin'
pyobjc-framework-MetalKit==7.3; sys_platform == 'darwin'
pyobjc-framework-MetalPerformanceShaders==7.3; sys_platform == 'darwin'
pyobjc-framework-MetalPerformanceShadersGraph==7.3; sys_platform == 'darwin'
pyobjc-framework-MLCompute==7.3; sys_platform == 'darwin'
pyobjc-framework-ModelIO==7.3; sys_platform == 'darwin'
pyobjc-framework-MultipeerConnectivity==7.3; sys_platform == 'darwin'
pyobjc-framework-NaturalLanguage==7.3; sys_platform == 'darwin'
pyobjc-framework-NetFS==7.3; sys_platform == 'darwin'
pyobjc-framework-Network==7.3; sys_platform == 'darwin'
pyobjc-framework-NetworkExtension==7.3; sys_platform == 'darwin'
pyobjc-framework-NotificationCenter==7.3; sys_platform == 'darwin'
pyobjc-framework-OpenDirectory==7.3; sys_platform == 'darwin'
pyobjc-framework-OSAKit==7.3; sys_platform == 'darwin'
pyobjc-framework-OSLog==7.3; sys_platform == 'darwin'
pyobjc-framework-PassKit==7.3; sys_platform == 'darwin'
pyobjc-framework-PencilKit==7.3; sys_platform == 'darwin'
pyobjc-framework-Photos==7.3; sys_platform == 'darwin'
pyobjc-framework-PhotosUI==7.3; sys_platform == 'darwin'
pyobjc-framework-PreferencePanes==7.3; sys_platform == 'darwin'
pyobjc-framework-PushKit==7.3; sys_platform == 'darwin'
pyobjc-framework-Quartz==7.3; sys_platform == 'darwin'
pyobjc-framework-QuickLookThumbnailing==7.3; sys_platform == 'darwin'
pyobjc-framework-ReplayKit==7.3; sys_platform == 'darwin'
pyobjc-framework-SafariServices==7.3; sys_platform == 'darwin'
pyobjc-framework-SceneKit==7.3; sys_platform == 'darwin'
pyobjc-framework-ScreenSaver==7.3; sys_platform == 'darwin'
pyobjc-framework-ScreenTime==7.3; sys_platform == 'darwin'
pyobjc-framework-ScriptingBridge==7.3; sys_platform == 'darwin'
pyobjc-framework-SearchKit==7.3; sys_platform == 'darwin'
pyobjc-framework-Security==7.3; sys_platform == 'darwin'
pyobjc-framework-SecurityFoundation==7.3; sys_platform == 'darwin'
pyobjc-framework-SecurityInterface==7.3; sys_platform == 'darwin'
pyobjc-framework-ServiceManagement==7.3; sys_platform == 'darwin'
pyobjc-framework-Social==7.3; sys_platform == 'darwin'
pyobjc-framework-SoundAnalysis==7.3; sys_platform == 'darwin'
pyobjc-framework-Speech==7.3; sys_platform == 'darwin'
pyobjc-framework-SpriteKit==7.3; sys_platform == 'darwin'
pyobjc-framework-StoreKit==7.3; sys_platform == 'darwin'
pyobjc-framework-SyncServices==7.3; sys_platform == 'darwin'
pyobjc-framework-SystemConfiguration==7.3; sys_platform == 'darwin'
pyobjc-framework-SystemExtensions==7.3; sys_platform == 'darwin'
pyobjc-framework-UniformTypeIdentifiers==7.3; sys_platform == 'darwin'
pyobjc-framework-UserNotifications==7.3; sys_platform == 'darwin'
pyobjc-framework-UserNotificationsUI==7.3; sys_platform == 'darwin'
pyobjc-framework-VideoSubscriberAccount==7.3; sys_platform == 'darwin'
pyobjc-framework-VideoToolbox==7.3; sys_platform == 'darwin'
pyobjc-framework-Virtualization==7.3; sys_platform == 'darwin'
pyobjc-framework-Vision==7.3; sys_platform == 'darwin'
pyobjc-framework-WebKit==7.3; sys_platform == 'darwin'
pyparsing==3.0.9
python-dateutil==2.8.2
six==1.16.0
